<h1>Food Diary Application</h1>
<p>Record food and drink consumed and dietry symptoms that result.</p>

<%= link_to 'Comsumable Items', controller: 'consumable_items' %>
<%= link_to 'Comsumable Item Types', controller: 'consumable_item_types' %>
