<h1>Editing Consumable Item Type</h1>

<%= render 'form', consumable_item_type: @consumable_item_type %>

<%= link_to 'Show', @consumable_item_type %> |
<%= link_to 'Back', consumable_item_types_path %>
