<h1>New Consumable Item Type</h1>
<p>Here you create new types for consumable food and drink items.</p>

<%= render 'form', consumable_item_type: @consumable_item_type %>

<%= link_to 'Back', consumable_item_types_path %>
