<p>
  <strong>Name:</strong>
  <%= @consumable_item.name %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @consumable_item.approx_calories %>
</p>
 
<p>
  <strong>Notes:</strong>
  <%= @consumable_item.notes %>
</p>

<%= link_to 'Back', consumable_items_path %>